@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #F3F7FA;
  font-family: 'Open Sans', sans-serif;
}

* {
  cursor: url('./components/App/Cursor.svg'), auto !important;
}

.offline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}